#include <os2.h>
#include "dirctrl.hpp"

ICON ID_FOLDER_ICON LOADONCALL MOVEABLE DISCARDABLE folder.ico
ICON ID_NETDRV_ICON LOADONCALL MOVEABLE DISCARDABLE netdrv.ico
ICON ID_HRDDRV_ICON LOADONCALL MOVEABLE DISCARDABLE hrddrv.ico
ICON ID_FLPDRV_ICON LOADONCALL MOVEABLE DISCARDABLE flpdrv.ico
ICON ID_CDDRV_ICON  LOADONCALL MOVEABLE DISCARDABLE  cddrv.ico

